@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOiCnqEu92Fr1Mu51QrEzAdKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TjASc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51S7ACc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TzBic6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOjCnqEu92Fr1Mu51TLBCc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBBc9.ttf) format('truetype');
}
.intgr-button,
.intgr-button--primary,
.intgr-button--secondary,
.intgr-button--tertiary,
.intgr-button--destructive,
.intgr-button-checkbox__label--primary,
.intgr-button-checkbox__label--secondary,
.intgr-button-checkbox__label--tertiary,
.intgr-button-checkbox__label--destructive {
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 7px 9px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-align: center;
  color: #202328;
  fill: #66788C;
  border-color: #C7CBD2;
  background-color: #FFFFFF;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 32px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.intgr-button:not(:disabled):hover,
.intgr-button--secondary:not(:disabled):hover,
.intgr-button-checkbox__label--secondary:not(:disabled):hover {
  color: #202328;
  fill: #66788C;
  border-color: #66788C;
  background-color: #F4F6F8;
}
.intgr-button:not(:disabled):active,
.intgr-button:focus-visible,
.intgr-button--secondary:not(:disabled):active,
.intgr-button--tertiary:not(:disabled):active,
.intgr-button-checkbox__label:focus-visible,
.intgr-button-checkbox__label--secondary:not(:disabled):active,
.intgr-button-checkbox__label--tertiary:not(:disabled):active,
.intgr-button--primary:focus-visible,
.intgr-button--secondary:focus-visible,
.intgr-button--tertiary:focus-visible,
.intgr-button--destructive:focus-visible,
.intgr-button-checkbox__label--primary:focus-visible,
.intgr-button-checkbox__label--secondary:focus-visible,
.intgr-button-checkbox__label--tertiary:focus-visible,
.intgr-button-checkbox__label--destructive:focus-visible {
  color: #FFFFFF !important;
  fill: #FFFFFF !important;
  border-color: #66788C !important;
  background-color: #66788C !important;
}
.intgr-button:focus-visible,
.intgr-button--primary:focus-visible,
.intgr-button--secondary:focus-visible,
.intgr-button--tertiary:focus-visible,
.intgr-button--destructive:focus-visible,
.intgr-button-checkbox__label--primary:focus-visible,
.intgr-button-checkbox__label--secondary:focus-visible,
.intgr-button-checkbox__label--tertiary:focus-visible,
.intgr-button-checkbox__label--destructive:focus-visible {
  outline: 1px solid #0078D3;
  outline-offset: 1px;
}
.intgr-button:disabled,
.intgr-button--primary:disabled,
.intgr-button--secondary:disabled,
.intgr-button--tertiary:disabled,
.intgr-button--destructive:disabled,
.intgr-button-checkbox__label--primary:disabled,
.intgr-button-checkbox__label--secondary:disabled,
.intgr-button-checkbox__label--tertiary:disabled,
.intgr-button-checkbox__label--destructive:disabled {
  opacity: 0.35;
  cursor: default;
}
.intgr-button--primary {
  border: 1px solid #0078D3;
  background-color: #0078D3;
  color: #FFFFFF;
  fill: #FFFFFF;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.intgr-button--primary:not(:disabled):hover {
  border-color: #25477B;
  background: #25477B;
  color: #FFFFFF;
  fill: #FFFFFF;
  text-decoration: none;
}
.intgr-button--primary:not(:disabled):active,
.intgr-button--primary:focus-visible {
  border-color: #002D4F !important;
  background: #002D4F !important;
  color: #FFFFFF !important;
  fill: #FFFFFF !important;
  text-decoration: none;
}
.intgr-button--primary:disabled {
  border-color: #D8DEE9 !important;
  background: #D8DEE9 !important;
  color: #FFFFFF !important;
  fill: #FFFFFF !important;
}
.intgr-button--tertiary {
  color: #0062A9;
  fill: #0062A9;
  border-color: transparent;
  background-color: transparent;
}
.intgr-button--tertiary:not(:disabled):hover {
  color: #0062A9;
  fill: #0062A9;
  border: 1px solid #0062A9;
  background-color: transparent;
}
.intgr-button--tertiary:disabled {
  color: #C7CBD2 !important;
  fill: #C7CBD2 !important;
}
.intgr-button--destructive {
  border: 1px solid #DE3030;
  background-color: #DE3030;
  color: #FFFFFF;
  fill: #FFFFFF;
}
.intgr-button--destructive:not(:disabled):hover {
  border-color: #9D1616;
  background: #9D1616;
  color: #FFFFFF;
  fill: #FFFFFF;
  text-decoration: none;
}
.intgr-button--destructive:not(:disabled):active,
.intgr-button--destructive:focus-visible {
  border-color: #751111 !important;
  background: #751111 !important;
  color: #FFFFFF !important;
  fill: #FFFFFF !important;
  text-decoration: none;
}
.intgr-button--destructive:disabled {
  border-color: #FDE5E5 !important;
  background: #FDE5E5 !important;
  color: #FFFFFF !important;
  fill: #FFFFFF !important;
}
.intgr-button-switcher {
  display: flex;
  border: 1px solid #C7CBD2;
  border-radius: 4px;
  padding: 3px;
  background-color: #FFFFFF;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #202328;
  fill: #66788C;
}
.intgr-button-switcher input {
  position: absolute;
  left: -9999px;
}
.intgr-button-switcher input:checked + label {
  background-color: #0078D3;
  color: white;
}
.intgr-button-switcher input:checked + label:hover {
  background-color: #25477B;
  color: white;
}
.intgr-button-switcher label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #FFFFFF;
  color: #202328;
  padding: 5px;
  transition: all 0.1s ease-in-out;
  border-radius: 4px;
}
.intgr-button-switcher label:hover {
  cursor: pointer;
  background-color: #F4F6F8;
}
.intgr-button-switcher--horizontal {
  flex-direction: row;
}
.intgr-button-switcher--vertical {
  flex-direction: column;
}
.intgr-button-switcher--vertical label {
  width: unset;
}
.intgr-button-switcher--short-list {
  min-width: 200px;
  max-width: 200px;
}
.intgr-button-vertical-set {
  display: block;
}
.intgr-button-vertical-set button {
  min-width: 85px;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  z-index: 1;
  border-radius: 0;
}
.intgr-button-vertical-set button:not(:last-child) {
  margin-bottom: -1px;
}
.intgr-button-vertical-set button:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.intgr-button-vertical-set button:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.intgr-button-vertical-set button:hover,
.intgr-button-vertical-set button:active,
.intgr-button-vertical-set button:focus {
  z-index: 2;
}
.intgr-button-horizontal-set {
  display: block;
  position: relative;
  overflow: hidden;
  margin-right: 6px;
}
.intgr-button-horizontal-set button {
  min-width: 85px;
  float: left;
  margin-left: 0;
  margin-right: -1;
  position: relative;
  z-index: 1;
  border-radius: 0;
}
.intgr-button-horizontal-set button:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.intgr-button-horizontal-set button:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.intgr-button-horizontal-set button:hover,
.intgr-button-horizontal-set button:active,
.intgr-button-horizontal-set button:focus {
  z-index: 2;
}
.intgr-button-checkbox__input {
  position: absolute;
  left: -9999px;
}
.intgr-button-checkbox__input:checked + .intgr-button-checkbox__label {
  color: #FFFFFF;
  border-color: #66788C;
  background-color: #66788C;
  fill: #FFFFFF;
  outline: none;
}
.intgr-button-checkbox__input:checked + .intgr-button-checkbox__label:hover,
.intgr-button-checkbox__input:checked + .intgr-button-checkbox__label:active,
.intgr-button-checkbox__input:checked + .intgr-button-checkbox__label:focus {
  border-color: #282F36;
  background-color: #282F36;
}
.intgr-button-checkbox__label {
  font-family: Roboto;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 7px 9px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-align: center;
  color: #202328;
  fill: #66788C;
  border-color: #C7CBD2;
  background-color: #FFFFFF;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 32px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.intgr-button-checkbox__label:not(:disabled):hover {
  color: #202328;
  fill: #66788C;
  border-color: #66788C;
  background-color: #F4F6F8;
}
.intgr-button-checkbox__label:not(:disabled):active {
  color: #FFFFFF !important;
  fill: #FFFFFF !important;
  border-color: #66788C !important;
  background-color: #66788C !important;
}
.intgr-button-checkbox__label:focus-visible {
  outline: 1px solid #0078D3;
  outline-offset: 1px;
}
.intgr-button-checkbox__label:disabled {
  opacity: 0.35;
  cursor: default;
}
.intgr-button-checkbox__label--primary {
  border: 1px solid #0078D3;
  background-color: #0078D3;
  color: #FFFFFF;
  fill: #FFFFFF;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.intgr-button-checkbox__label--primary:not(:disabled):hover {
  border-color: #25477B;
  background: #25477B;
  color: #FFFFFF;
  fill: #FFFFFF;
  text-decoration: none;
}
.intgr-button-checkbox__label--primary:not(:disabled):active,
.intgr-button-checkbox__label--primary:focus-visible {
  border-color: #002D4F !important;
  background: #002D4F !important;
  color: #FFFFFF !important;
  fill: #FFFFFF !important;
  text-decoration: none;
}
.intgr-button-checkbox__label--primary:disabled {
  border-color: #D8DEE9 !important;
  background: #D8DEE9 !important;
  color: #FFFFFF !important;
  fill: #FFFFFF !important;
}
.intgr-button-checkbox__label--tertiary {
  color: #0062A9;
  fill: #0062A9;
  border-color: transparent;
  background-color: transparent;
}
.intgr-button-checkbox__label--tertiary:not(:disabled):hover {
  color: #0062A9;
  fill: #0062A9;
  border: 1px solid #0062A9;
  background-color: transparent;
}
.intgr-button-checkbox__label--tertiary:disabled {
  color: #C7CBD2 !important;
  fill: #C7CBD2 !important;
}
.intgr-button-checkbox__label--destructive {
  border: 1px solid #DE3030;
  background-color: #DE3030;
  color: #FFFFFF;
  fill: #FFFFFF;
}
.intgr-button-checkbox__label--destructive:not(:disabled):hover {
  border-color: #9D1616;
  background: #9D1616;
  color: #FFFFFF;
  fill: #FFFFFF;
  text-decoration: none;
}
.intgr-button-checkbox__label--destructive:not(:disabled):active,
.intgr-button-checkbox__label--destructive:focus-visible {
  border-color: #751111 !important;
  background: #751111 !important;
  color: #FFFFFF !important;
  fill: #FFFFFF !important;
  text-decoration: none;
}
.intgr-button-checkbox__label--destructive:disabled {
  border-color: #FDE5E5 !important;
  background: #FDE5E5 !important;
  color: #FFFFFF !important;
  fill: #FFFFFF !important;
}
.intgr-button-with-icon {
  display: inline-flex;
  align-items: center;
}
.intgr-button-with-icon:active > svg.intgr-button__icon-arrow {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='5' viewBox='0 0 6 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.93415 0.228269C5.84358 0.0872265 5.67317 0 5.48844 0H0.511463C0.228739 0.000224233 -0.000255645 0.200913 2.14199e-07 0.44869C2.14199e-07 0.53031 0.0255862 0.610362 0.0736878 0.680322L2.56218 4.28374C2.70853 4.49564 3.02324 4.56336 3.26502 4.4351C3.33564 4.39765 3.395 4.34563 3.43773 4.28374L5.92622 0.680322C6.02165 0.541971 6.02473 0.369087 5.93415 0.228269Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
}
.intgr-button-with-icon:active > svg.intgr-button__icon {
  fill: #FFFFFF;
}
.intgr-button__title {
  line-height: 16px;
  font-weight: 400;
  white-space: nowrap;
  margin-left: 0;
  margin-right: auto;
}
.intgr-button__icon-arrow {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='5' viewBox='0 0 6 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.93415 0.228269C5.84358 0.0872265 5.67317 0 5.48844 0H0.511463C0.228739 0.000224233 -0.000255645 0.200913 2.14199e-07 0.44869C2.14199e-07 0.53031 0.0255862 0.610362 0.0736878 0.680322L2.56218 4.28374C2.70853 4.49564 3.02324 4.56336 3.26502 4.4351C3.33564 4.39765 3.395 4.34563 3.43773 4.28374L5.92622 0.680322C6.02165 0.541971 6.02473 0.369087 5.93415 0.228269Z' fill='%23202328'/%3E%3C/svg%3E");
  position: relative;
  width: 6px;
  height: 4.8px;
  background-size: auto 100%;
  margin-left: 8px;
}
.intgr-button__icon {
  position: relative;
  background-size: auto 100%;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  font-size: 16px;
}
.intgr-page-header {
  display: flex;
  font-style: normal;
  align-items: center;
  padding: 16px;
  background-color: #FFFFFF;
  justify-content: space-between;
  height: 77px;
  border-bottom: 1px solid #C7CBD2;
}
.intgr-page-header__page-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  padding: 0px;
  margin: 0px;
  font-weight: 300;
  font-size: 28px;
  line-height: 36px;
  color: #202328;
  flex: 0 1 auto;
}
.intgr-page-header__sub-title {
  color: #575757;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
}
.intgr-page-header__tools {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1 0 auto;
}
.intgr-page-header__tools-item {
  margin-left: 8px;
  flex: 0 0 auto;
}
.intgr-page-header__item-counter {
  display: flex;
  align-items: center;
  font-weight: 300;
  color: #575757;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 30px;
}
.intgr-page-toolbar {
  display: flex;
  height: 56px;
  padding: 12px;
  background-color: #EFF2F7;
  margin: 0;
  overflow: hidden;
}
.intgr-page-toolbar > * {
  margin: 0;
  margin-right: 7px;
  text-decoration: none;
  flex-shrink: 0;
}
.intgr-input {
  font-family: Roboto;
  border: 1px solid #C7CBD2;
  border-radius: 4px;
  -webkit-appearance: none;
  outline: none;
  background-color: #FFFFFF;
  color: #202328;
  fill: #202328;
  padding: 8px;
  cursor: text;
  width: 100%;
}
.intgr-input:hover,
.intgr-input:focus {
  border-color: #66788C;
  background-color: #F4F6F8;
}
.intgr-input:active {
  border-color: #0078D3;
}
.intgr-input:disabled {
  cursor: not-allowed;
  background-color: #E9E9E9;
  pointer-events: none;
}
select.intgr-input {
  -webkit-appearance: menulist;
  cursor: default;
}
.intgr-txt-input--error {
  border-color: #DE3030;
}
.intgr-txt-input--error:hover,
.intgr-txt-input--error:focus {
  border-color: #DE3030;
}
div.intgr-txt-input--error::before {
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4126 13.3333L9.18122 1.4333C8.83922 0.781299 8.03389 0.529299 7.38122 0.871299C7.14122 0.997299 6.94522 1.1933 6.81922 1.4333L0.587223 13.3333C0.245223 13.9853 0.497223 14.7913 1.14989 15.1333C1.34056 15.2333 1.55322 15.2853 1.76856 15.2853H14.2312C14.9679 15.2853 15.5646 14.6886 15.5646 13.952C15.5646 13.7366 15.5126 13.524 15.4126 13.3333ZM7.33322 5.6153C7.33322 5.2473 7.63189 4.94863 7.99989 4.94863C8.36789 4.94863 8.66656 5.2473 8.66656 5.6153V9.6153C8.66656 9.9833 8.36789 10.282 7.99989 10.282C7.63189 10.282 7.33322 9.9833 7.33322 9.6153V5.6153ZM8.03322 13.2886H8.01456C7.46856 13.2866 7.02056 12.8546 6.99989 12.3086C6.97989 11.7653 7.40389 11.3093 7.94722 11.2893C7.95322 11.2893 7.95922 11.2886 7.96522 11.2886H7.98389C8.52989 11.2893 8.97856 11.7206 8.99989 12.2666C9.02122 12.8093 8.59856 13.2666 8.05589 13.288C8.04856 13.288 8.04056 13.2886 8.03322 13.2886Z' fill='%23DE3030'/%3E%3C/svg%3E");
  content: " ";
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
  right: 7px;
  float: right;
  top: 24px;
  position: relative;
  margin-top: -16px;
}
.intgr-input__search-container {
  display: flex;
  font-family: Roboto;
  font-size: 12px;
  min-width: 200px;
  align-items: center;
  height: 32px;
  border: 1px solid #C7CBD2;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #757575;
  fill: #757575;
  overflow: hidden;
  padding: 0 8px;
}
.intgr-input__search-container:hover,
.intgr-input__search-container:focus {
  border-color: #66788C;
  background-color: #F4F6F8;
}
.intgr-input__search-container:hover input,
.intgr-input__search-container:focus input {
  background-color: inherit;
}
.intgr-input__search-container:active {
  border-color: #0078D3;
}
.intgr-input__search-container:disabled {
  cursor: not-allowed;
  background-color: #E9E9E9;
  pointer-events: none;
}
.intgr-input__search-container::before {
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5894 14.4126L11.2367 10.06C13.306 7.33931 12.7787 3.45598 10.058 1.38665C7.33736 -0.682688 3.45403 -0.155355 1.38469 2.56531C-0.684642 5.28598 -0.157308 9.16931 2.56336 11.2386C4.77736 12.9233 7.84403 12.9233 10.058 11.2386L14.4107 15.5913C14.7387 15.9113 15.2614 15.9113 15.5894 15.5913C15.898 15.2686 15.8847 14.748 15.5894 14.4126ZM1.83336 6.33331C1.83336 3.84798 3.84803 1.83331 6.33336 1.83331C8.81869 1.83331 10.8334 3.84798 10.8334 6.33331C10.8334 8.81864 8.81869 10.8333 6.33336 10.8333C3.84936 10.8306 1.83603 8.81731 1.83336 6.33331Z' fill='%2366788C'/%3E%3C/svg%3E");
  content: " ";
  height: 16px;
  min-width: 16px;
  width: 16px;
  margin-right: 8px;
}
.intgr-input__search-container input {
  height: 100%;
  font-family: Roboto;
  font-size: 12px;
  border: 0px;
  border-radius: 0px;
  outline: none;
  padding: 0px;
  width: 100%;
}
.intgr-input__search-container input:hover,
.intgr-input__search-container input:active,
.intgr-input__search-container input:focus {
  background-color: inherit;
}
.intgr-svg__icon {
  width: 32px;
  height: 32px;
  float: left;
  margin-left: -36px;
  margin-top: 2px;
  background-size: auto 100%;
}
.intgr-fieldset {
  width: 80%;
  max-width: 800px;
  min-width: 0;
  padding: 18px 25px;
  background-color: #FFFFFF;
  color: #202328;
  border: none;
  margin: 5px 0 0 0;
}
.intgr-fieldset legend {
  font-weight: 700;
  text-transform: uppercase;
}
.intgr-fieldset__field {
  border-radius: 0.4em;
  margin: 4px 0;
  padding: 0.5em 2%;
  float: left;
  width: 94%;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
}
.intgr-fieldset__field > *:first-child {
  color: #575757;
  fill: #575757;
  max-width: 25%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin-top: 10px;
}
.intgr-fieldset__field > *:first-child + * {
  float: right;
  width: 70%;
}
.intgr-tabs__container {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #C7CBD2;
  padding: 0;
}
.intgr-tabs__tab-item {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  padding: 8px 12px;
  margin: 0;
  border: none;
  background-color: transparent;
  border-bottom: 4px solid transparent;
  outline: none;
  cursor: pointer;
  color: #575757;
  fill: #575757;
  border-radius: 0;
  position: relative;
  top: 1px;
}
.intgr-tabs__tab-item:focus,
.intgr-tabs__tab-item:hover {
  background-color: #F4F6F8;
  border-bottom: 1px solid #C7CBD2;
  margin-top: -3px;
}
.intgr-tabs__tab-item--fixed-width {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  padding: 8px 12px;
  margin: 0;
  border: none;
  background-color: transparent;
  border-bottom: 4px solid transparent;
  outline: none;
  cursor: pointer;
  color: #575757;
  fill: #575757;
  border-radius: 0;
  position: relative;
  top: 1px;
  min-width: 150px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.intgr-tabs__tab-item--fixed-width:focus,
.intgr-tabs__tab-item--fixed-width:hover {
  background-color: #F4F6F8;
  border-bottom: 1px solid #C7CBD2;
  margin-top: -3px;
}
.intgr-tabs__tab-item--selected {
  border-bottom-color: #0078D3;
  color: #0062A9;
}
.intgr-tabs__tab-item--selected:focus,
.intgr-tabs__tab-item--selected:hover {
  border-bottom: 4px solid #0078D3;
  padding-top: 11px;
}
.intgr-tooltip__help-container {
  border-radius: 6px;
  background-color: #0B2032;
  border: 1px solid #0B2032;
  position: relative;
  padding: 6px 10px;
  clear: both;
  line-height: normal;
  width: 100%;
  margin: 7px 0 4px 16px;
  color: #FFFFFF;
  max-width: 224px;
  opacity: 90%;
}
.intgr-tooltip__help-container::before {
  content: "";
  position: absolute;
  top: -8px;
  border-width: 0 6px 7px;
  border-style: solid;
  border-color: #0B2032 transparent;
}
.intgr-tooltip__help-container--beta {
  border-radius: 6px;
  background-color: #0B2032;
  border: 1px solid #0B2032;
  padding: 6px 10px;
  clear: both;
  line-height: normal;
  margin: 7px 0 4px 16px;
  color: #FFFFFF;
  opacity: 90%;
  visibility: hidden;
  max-width: 500px;
  width: 500px;
  margin-left: 50px;
  margin-top: -25px;
  position: absolute;
  z-index: 1;
  text-align: justify;
}
.intgr-tooltip__help-container--beta::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #0B2032 transparent;
  top: 4px;
  left: -10px;
  border-width: 7px 6px 0px;
  transform-origin: left;
  transform: translate(50%, 50%) rotate(90deg);
}
.intgr-alert {
  overflow: hidden;
  padding: 8px 35px 8px 14px;
  border-radius: 4px;
  position: relative;
}
.intgr-alert label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-right: 5px;
}
.intgr-alert--warning {
  background-color: #FFF2D2;
  border: 1px solid #FFF2D2;
  color: #784600;
  fill: #784600;
}
.intgr-alert--error {
  background-color: #FDE5E5;
  border: 1px solid #FDE5E5;
  color: #751111;
  fill: #751111;
}
.intgr-alert--success {
  background-color: #E5FDE9;
  border: 1px solid #E5FDE9;
  color: #28600D;
  fill: #28600D;
}
.intgr-alert--generic {
  background-color: #E5F7FD;
  border: 1px solid #E5F7FD;
  color: #25477B;
  fill: #25477B;
}
.intgr-notification {
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  max-width: 700px;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10008;
  opacity: 0.9;
  text-align: center;
  padding: 9px 10px 9px 12px;
  border-radius: 4px;
}
.intgr-notification--info {
  background-color: #FFF2D2;
  border: 1px solid #FFF2D2;
  color: #784600;
  fill: #784600;
}
.intgr-notification--info > * > svg.intgr-notification__icon {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C3.582 0 0 3.582 0 8C0 12.418 3.582 16 8 16C12.418 16 16 12.418 16 8C15.9953 3.584 12.416 0.00466667 8 0ZM8.16667 3.33333C8.71867 3.33333 9.16667 3.78133 9.16667 4.33333C9.16667 4.88533 8.71867 5.33333 8.16667 5.33333C7.61467 5.33333 7.16667 4.88533 7.16667 4.33333C7.16667 3.78133 7.61467 3.33333 8.16667 3.33333ZM9.66667 12.3333H7C6.632 12.3333 6.33333 12.0347 6.33333 11.6667C6.33333 11.2987 6.632 11 7 11H7.5C7.592 11 7.66667 10.9253 7.66667 10.8333V7.83333C7.66667 7.74133 7.592 7.66667 7.5 7.66667H7C6.632 7.66667 6.33333 7.368 6.33333 7C6.33333 6.632 6.632 6.33333 7 6.33333H7.66667C8.40333 6.33333 9 6.93 9 7.66667V10.8333C9 10.9253 9.07467 11 9.16667 11H9.66667C10.0347 11 10.3333 11.2987 10.3333 11.6667C10.3333 12.0347 10.0347 12.3333 9.66667 12.3333Z' fill='%23784600'/%3E%3C/svg%3E");
}
.intgr-notification--info > * > svg.intgr-notification__icon.intgr-notification__icon-close {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.338076 0.335205C0.784906 -0.111735 1.50936 -0.111735 1.95619 0.335205L11.6649 10.0463C12.1117 10.4932 12.1117 11.2179 11.6649 11.6648C11.218 12.1117 10.4936 12.1117 10.0468 11.6648L0.338076 1.95372C-0.108754 1.50678 -0.108754 0.782145 0.338076 0.335205Z' fill='%236D4F00'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6619 0.335205C12.1088 0.782145 12.1088 1.50678 11.6619 1.95372L1.95324 11.6648C1.50641 12.1117 0.781953 12.1117 0.335123 11.6648C-0.111707 11.2179 -0.111708 10.4932 0.335123 10.0463L10.0438 0.335205C10.4906 -0.111735 11.2151 -0.111735 11.6619 0.335205Z' fill='%236D4F00'/%3E%3C/svg%3E") !important;
}
.intgr-notification--error {
  background-color: #FDE5E5;
  border: 1px solid #FDE5E5;
  color: #751111;
  fill: #751111;
}
.intgr-notification--error > * > svg.intgr-notification__icon {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4126 13.3333L9.18122 1.4333C8.83922 0.781299 8.03389 0.529299 7.38122 0.871299C7.14122 0.997299 6.94522 1.1933 6.81922 1.4333L0.587223 13.3333C0.245223 13.9853 0.497223 14.7913 1.14989 15.1333C1.34056 15.2333 1.55322 15.2853 1.76856 15.2853H14.2312C14.9679 15.2853 15.5646 14.6886 15.5646 13.952C15.5646 13.7366 15.5126 13.524 15.4126 13.3333ZM7.33322 5.6153C7.33322 5.2473 7.63189 4.94863 7.99989 4.94863C8.36789 4.94863 8.66656 5.2473 8.66656 5.6153V9.6153C8.66656 9.9833 8.36789 10.282 7.99989 10.282C7.63189 10.282 7.33322 9.9833 7.33322 9.6153V5.6153ZM8.03322 13.2886H8.01456C7.46856 13.2866 7.02056 12.8546 6.99989 12.3086C6.97989 11.7653 7.40389 11.3093 7.94722 11.2893C7.95322 11.2893 7.95922 11.2886 7.96522 11.2886H7.98389C8.52989 11.2893 8.97856 11.7206 8.99989 12.2666C9.02122 12.8093 8.59856 13.2666 8.05589 13.288C8.04856 13.288 8.04056 13.2886 8.03322 13.2886Z' fill='%23DE3030'/%3E%3C/svg%3E");
}
.intgr-notification--error > * > svg.intgr-notification__icon.intgr-notification__icon-close {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.338076 0.335205C0.784906 -0.111735 1.50936 -0.111735 1.95619 0.335205L11.6649 10.0463C12.1117 10.4932 12.1117 11.2179 11.6649 11.6648C11.218 12.1117 10.4936 12.1117 10.0468 11.6648L0.338076 1.95372C-0.108754 1.50678 -0.108754 0.782145 0.338076 0.335205Z' fill='%23751111'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6619 0.335205C12.1088 0.782145 12.1088 1.50678 11.6619 1.95372L1.95324 11.6648C1.50641 12.1117 0.781953 12.1117 0.335123 11.6648C-0.111707 11.2179 -0.111708 10.4932 0.335123 10.0463L10.0438 0.335205C10.4906 -0.111735 11.2151 -0.111735 11.6619 0.335205Z' fill='%23751111'/%3E%3C/svg%3E") !important;
}
.intgr-notification--success {
  background-color: #E5FDE9;
  border: 1px solid #E5FDE9;
  color: #28600D;
  fill: #28600D;
}
.intgr-notification--success > * > svg.intgr-notification__icon {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.4667 0.600241C16.0558 1.04207 16.1752 1.8778 15.7333 2.46691L7.73334 13.1336C7.50794 13.4341 7.16622 13.6256 6.79222 13.661C6.41822 13.6964 6.04665 13.5723 5.7689 13.3194L0.43557 8.46222C-0.108867 7.96639 -0.148274 7.1231 0.347553 6.57866C0.843379 6.03422 1.68668 5.99482 2.23112 6.49064L6.48004 10.3602L13.6 0.866908C14.0418 0.277804 14.8776 0.158413 15.4667 0.600241Z' fill='%2328600D'/%3E%3C/svg%3E");
  width: 16px;
  height: 14px;
}
.intgr-notification--success > * > svg.intgr-notification__icon.intgr-notification__icon-close {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.338076 0.335205C0.784906 -0.111735 1.50936 -0.111735 1.95619 0.335205L11.6649 10.0463C12.1117 10.4932 12.1117 11.2179 11.6649 11.6648C11.218 12.1117 10.4936 12.1117 10.0468 11.6648L0.338076 1.95372C-0.108754 1.50678 -0.108754 0.782145 0.338076 0.335205Z' fill='%2328600D'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6619 0.335205C12.1088 0.782145 12.1088 1.50678 11.6619 1.95372L1.95324 11.6648C1.50641 12.1117 0.781953 12.1117 0.335123 11.6648C-0.111707 11.2179 -0.111708 10.4932 0.335123 10.0463L10.0438 0.335205C10.4906 -0.111735 11.2151 -0.111735 11.6619 0.335205Z' fill='%2328600D'/%3E%3C/svg%3E") !important;
}
.intgr-notification--generic {
  background-color: #E5F7FD;
  border: 1px solid #E5F7FD;
  color: #25477B;
  fill: #25477B;
}
.intgr-notification--generic > * > svg.intgr-notification__icon {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C3.582 0 0 3.582 0 8C0 12.418 3.582 16 8 16C12.418 16 16 12.418 16 8C15.9953 3.584 12.416 0.00466667 8 0ZM8.16667 3.33333C8.71867 3.33333 9.16667 3.78133 9.16667 4.33333C9.16667 4.88533 8.71867 5.33333 8.16667 5.33333C7.61467 5.33333 7.16667 4.88533 7.16667 4.33333C7.16667 3.78133 7.61467 3.33333 8.16667 3.33333ZM9.66667 12.3333H7C6.632 12.3333 6.33333 12.0347 6.33333 11.6667C6.33333 11.2987 6.632 11 7 11H7.5C7.592 11 7.66667 10.9253 7.66667 10.8333V7.83333C7.66667 7.74133 7.592 7.66667 7.5 7.66667H7C6.632 7.66667 6.33333 7.368 6.33333 7C6.33333 6.632 6.632 6.33333 7 6.33333H7.66667C8.40333 6.33333 9 6.93 9 7.66667V10.8333C9 10.9253 9.07467 11 9.16667 11H9.66667C10.0347 11 10.3333 11.2987 10.3333 11.6667C10.3333 12.0347 10.0347 12.3333 9.66667 12.3333Z' fill='%2325477B'/%3E%3C/svg%3E");
}
.intgr-notification--generic > * > svg.intgr-notification__icon.intgr-notification__icon-close {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.338076 0.335205C0.784906 -0.111735 1.50936 -0.111735 1.95619 0.335205L11.6649 10.0463C12.1117 10.4932 12.1117 11.2179 11.6649 11.6648C11.218 12.1117 10.4936 12.1117 10.0468 11.6648L0.338076 1.95372C-0.108754 1.50678 -0.108754 0.782145 0.338076 0.335205Z' fill='%2325477B'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6619 0.335205C12.1088 0.782145 12.1088 1.50678 11.6619 1.95372L1.95324 11.6648C1.50641 12.1117 0.781953 12.1117 0.335123 11.6648C-0.111707 11.2179 -0.111708 10.4932 0.335123 10.0463L10.0438 0.335205C10.4906 -0.111735 11.2151 -0.111735 11.6619 0.335205Z' fill='%2325477B'/%3E%3C/svg%3E") !important;
}
.intgr-notification__icon-container {
  display: flex;
  flex: 0 0 30px;
  height: 26px;
  padding-right: 14px;
}
.intgr-notification__icon-container-close {
  position: relative;
  border: 0;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.2;
  padding-bottom: 10px;
  cursor: pointer;
  background-color: transparent;
  padding-right: 0px;
  margin-right: -5px;
  margin-left: 7px;
}
.intgr-notification__icon {
  position: relative;
  top: 5px;
  width: 16px;
  height: 16px;
  background-size: auto 100%;
}
.intgr-notification__icon-close {
  width: 12px !important;
  height: 12px !important;
  top: 6px !important;
}
.intgr-notification__message {
  margin: 0;
  word-wrap: break-word;
  flex: 1 100 auto;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}
.intgr-table {
  border-spacing: 0px;
}
.intgr-table thead tr {
  height: 32px;
  font-weight: normal;
  background-color: #3C5063;
  color: #FFFFFF;
  fill: #FFFFFF;
  line-height: 20px;
  letter-spacing: 0.5px;
}
.intgr-table thead tr.intgr-table__subheading {
  background-color: #EFF2F7;
  color: #202328;
  fill: #202328;
}
.intgr-table thead tr.intgr-table__subheading th {
  position: relative;
  top: unset;
  background-color: #EFF2F7;
}
.intgr-table thead tr.intgr-table__subheading th:first-of-type {
  border-left: 1px solid #C7CBD2;
}
.intgr-table thead tr.intgr-table__subheading th:last-of-type {
  border-right: 1px solid #C7CBD2;
}
.intgr-table thead tr th {
  font-size: 14px;
  position: relative;
  height: 48px;
  padding: 4px;
  text-align: left;
  border-right: 1px solid #C7CBD2;
  max-width: 410px;
  min-width: 200px;
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  background-color: #3C5063;
  position: sticky;
  top: 0;
}
.intgr-table thead tr th > * {
  margin: 0 12px;
}
.intgr-table thead tr th.intgr-table__actionable-heading:hover {
  color: #FFFFFF;
  fill: #FFFFFF;
  background-color: #0B2032;
  cursor: pointer;
}
.intgr-table thead tr th:last-of-type {
  border-right: none;
}
.intgr-table tbody tr {
  height: 64px;
}
.intgr-table tbody tr:hover {
  background-color: #F4F6F8;
}
.intgr-table tbody tr.intgr-table__inactive-row {
  background-color: #E9E9E9;
  color: #757575;
}
.intgr-table tbody tr td {
  color: #202328;
  padding: 0px 16px;
  font-size: 14px;
  border-right: 1px solid #C7CBD2;
  max-width: 410px;
  min-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.intgr-table tbody tr td * {
  display: flex;
}
.intgr-table tbody tr td:first-child {
  padding: 16px;
  border-left: 1px solid #C7CBD2;
}
.intgr-table tbody tr td:first-child * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.4px;
  padding: 0;
}
.intgr-table tbody tr td:first-child a {
  color: #0062A9;
}
.intgr-table tbody tr td:first-child a:focus {
  outline-style: auto;
  text-decoration: underline;
}
.intgr-table tbody tr td:first-child :nth-child(2) {
  color: #575757;
  font-size: 12px;
  font-weight: 400;
}
.intgr-table tbody tr:last-child td {
  border-bottom: 1px solid #C7CBD2;
}
.intgr-table__heading-icon-container {
  position: absolute;
  right: 0;
  display: inline-block;
}
.intgr-table-secondary {
  border-collapse: collapse;
  width: 100%;
}
.intgr-table-secondary th {
  position: sticky;
  top: 0px;
  font-size: 14px;
  line-height: 16px;
  color: #202328;
  background-color: #EFF2F7;
  fill: #EFF2F7;
  padding: 10px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.intgr-table-secondary th:not(:first-child) {
  font-weight: 500;
}
.intgr-table-secondary tbody {
  font-size: 12px;
  line-height: 16px;
  color: #575757;
}
.intgr-table-secondary tbody tr {
  border-bottom: 1px solid #C7CBD2;
}
.intgr-table-secondary tbody tr td {
  padding: 5px;
}
.intgr-table-secondary tbody tr td:first-child div {
  margin-bottom: 5px;
  font-size: 13px;
  padding-left: 6px;
}
.intgr-table-secondary tbody tr td:not(:first-child) div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.intgr-table-secondary tbody tr:first-child {
  text-align: left;
}
.intgr-dialog {
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 10007;
  color: #202328;
  font-family: Roboto;
  font-size: 14px;
  background-color: #FFFFFF;
  padding: 0;
  box-shadow: 0px 2px 6px rgba(26, 41, 53, 0.2);
  max-height: 800px;
  border-radius: 4px;
  border: 0;
}
.intgr-dialog__header {
  line-height: 17px;
  letter-spacing: 0.16px;
  background: #3C5063;
  color: #FFFFFF;
  height: 30px;
  padding: 7px 25px 0 12px;
}
.intgr-dialog__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.intgr-dialog__close-button {
  width: 11px;
  height: 11px;
  right: 7px;
  top: 9px;
  fill: #202328;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  cursor: pointer;
}
.intgr-dialog__close-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.338076 0.335205C0.784906 -0.111735 1.50936 -0.111735 1.95619 0.335205L11.6649 10.0463C12.1117 10.4932 12.1117 11.2179 11.6649 11.6648C11.218 12.1117 10.4936 12.1117 10.0468 11.6648L0.338076 1.95372C-0.108754 1.50678 -0.108754 0.782145 0.338076 0.335205Z' fill='%23FFFFFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6619 0.335205C12.1088 0.782145 12.1088 1.50678 11.6619 1.95372L1.95324 11.6648C1.50641 12.1117 0.781953 12.1117 0.335123 11.6648C-0.111707 11.2179 -0.111708 10.4932 0.335123 10.0463L10.0438 0.335205C10.4906 -0.111735 11.2151 -0.111735 11.6619 0.335205Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
  position: relative;
  width: 11px;
  height: 11px;
  background-size: auto 100%;
}
.intgr-dialog__content {
  overflow: auto;
  padding: 12px;
}
.intgr-dialog__footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #C7CBD2;
  padding: 8px 4px;
}
.intgr-dialog__footer .intgr-button {
  margin-right: 8px;
}
.intgr-background--translucent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10006;
  background-color: #EFF2F7;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intgr-loading {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2229%22%20width%3D%2228%22%3E%3Cg%20style%3D%22stroke%3A%23000%3Bstroke-width%3A4%3Bstroke-linecap%3Around%3B%22%20transform%3D%22matrix(.703%200%200%20.703%2014.156%2014.156)%22%3E%3Cline%20y1%3D%2211%22%20y2%3D%2218%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(30)%22%20y1%3D%2211%22%20opacity%3D%22.917%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(60)%22%20y1%3D%2211%22%20opacity%3D%22.835%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(90)%22%20y1%3D%2211%22%20opacity%3D%22.752%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(120)%22%20y1%3D%2211%22%20opacity%3D%22.669%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(150)%22%20y1%3D%2211%22%20opacity%3D%22.587%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(180)%22%20y1%3D%2211%22%20opacity%3D%22.504%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(210)%22%20y1%3D%2211%22%20opacity%3D%22.421%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(240)%22%20y1%3D%2211%22%20opacity%3D%22.339%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(270)%22%20y1%3D%2211%22%20opacity%3D%22.256%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(300)%22%20y1%3D%2211%22%20opacity%3D%22.174%22%2F%3E%3Cline%20y2%3D%2218%22%20transform%3D%22rotate(330)%22%20y1%3D%2211%22%20opacity%3D%22.091%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") center no-repeat;
  background-size: 40px;
  min-height: 20px;
  height: 100px;
  width: 100px;
  will-change: transform;
  animation: intgr-waiting 0.8s linear infinite;
}
@keyframes intgr-waiting {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.intgr-options-menu {
  position: absolute;
  z-index: 11000;
  background-color: #fff;
  padding: 4px 0px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  max-height: 800px;
  border-radius: 4px;
  border: 0px;
  min-height: 30px;
  min-width: 170px;
  max-width: 420px;
  min-width: auto;
  max-width: none;
  padding: 0;
}
.intgr-options-menu__main-container {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  max-width: 680px;
}
@media (max-width: 767px) {
  .intgr-options-menu__main-container {
    min-width: 255px;
    max-width: 255px;
  }
}
.intgr-options-menu__main-container--small {
  min-width: 420px;
  max-width: 420px;
}
.intgr-options-menu__elements {
  display: flex;
}
@media (max-width: 767px) {
  .intgr-options-menu__elements {
    display: flex;
    flex-direction: column;
  }
}
.intgr-options-menu__footer {
  border-color: #C7CBD2;
  border-style: solid none none none;
  border-width: 1px;
  width: 100%;
  margin-top: 0;
  padding: 6px 10px;
  text-align: right;
}
@media (max-width: 767px) {
  .intgr-options-menu__footer button {
    width: 100%;
  }
}
.intgr-options-menu__period-picker-container {
  font-size: 14px;
  width: 198px;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.intgr-options-menu__period-picker-item-set input {
  position: absolute;
  left: -9999px;
  clip: rect(1px, 1px, 1px, 1px);
}
.intgr-options-menu__period-picker-item-set input:checked + label {
  background-color: #0078D3;
  color: #FFFFFF;
}
.intgr-options-menu__period-picker-item-set input:checked + label:hover {
  background-color: #25477B;
}
.intgr-options-menu__period-picker-item-set input:hover + label {
  background-color: #F4F6F8;
  text-decoration: none;
  outline: none;
}
.intgr-options-menu__period-picker-item-set label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border: none;
  background-color: #FFFFFF;
  padding: 0px 10px;
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  color: #202328;
  outline: none;
  cursor: pointer;
}
.intgr-options-menu__custom-date-container {
  margin-top: 4px;
}
.intgr-options-menu__custom-date-container input {
  width: 169px;
  margin-left: 10px;
  border: 1px solid #66788C;
  padding: 10px 8px;
  border-radius: 4px;
  height: 32px;
  font-family: Roboto;
  font-size: 12px;
  background-color: #FFFFFF;
  margin-bottom: 4px;
  outline: none;
}
.intgr-options-menu__custom-date-container input:last-child {
  margin-top: 4px;
  margin-bottom: 12px;
}
.intgr-options-menu__custom-date-container div {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-left: 10px;
}
.intgr-options-menu__legend {
  background: #3C5063;
  width: 100%;
  color: #FFFFFF;
  text-transform: unset;
  display: inline-block;
  letter-spacing: 0.4px;
  font-size: 10px;
  font-family: Roboto;
  line-height: 25px;
  padding-left: 8px;
}
.intgr-options-menu__section {
  font-family: Roboto;
  font-size: 12px;
  padding: 0;
  border: 0;
  margin: 0;
  width: auto;
}
.intgr-options-menu__section:first-of-type {
  border-right: 1px solid #C7CBD2;
}
.intgr-options-menu__section:first-of-type .intgr-options-menu__legend {
  border-radius: 4px 0px 0px 0px;
}
.intgr-options-menu__section:last-of-type .intgr-options-menu__legend {
  border-radius: 0px 4px 0px 0px;
}
.intgr-options-menu__section:only-of-type {
  width: 100%;
  border: none;
}
.intgr-options-menu__section:only-of-type .intgr-options-menu__legend {
  border-radius: 4px 4px 0px 0px;
}
.intgr-options-menu__options-list {
  padding: 10px 10px;
  margin: 0;
  list-style-type: none;
}
.intgr-options-menu__option {
  font-family: Roboto;
  font-size: 12px;
  width: 100%;
  display: block;
  float: left;
  margin-bottom: 16px;
  list-style-type: none;
}
.intgr-options-menu__option-label {
  width: 41%;
  display: block;
  padding: 7px 12px 3px 0;
  float: left;
  color: #575757;
}
.intgr-options-menu__option-control {
  width: 59%;
  display: block;
  float: left;
}
.intgr-options-menu__option-button {
  float: right;
  margin-left: 5px;
}
.intgr-popup {
  position: absolute;
  z-index: 11000;
  background-color: #fff;
  padding: 4px 0px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  max-height: 800px;
  border-radius: 4px;
  border: 0px;
  min-height: 30px;
  min-width: 170px;
  max-width: 420px;
}
.intgr-popup--no-padding {
  padding: 0;
}
.intgr-popup--flex-width {
  min-width: auto;
  max-width: none;
}
.intgr-popup__button {
  display: flex;
  width: 100%;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  align-items: center;
  background-color: #FFFFFF;
  color: #202328;
  fill: #66788C;
  border: 1px solid #FFFFFF;
  padding: 12px 16px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.intgr-popup__button:active {
  background-color: #FFFFFF;
}
.intgr-popup__button:hover,
.intgr-popup__button:focus {
  text-decoration: none;
  outline: none;
  background-color: #F4F6F8;
}
.intgr-popup__button--active {
  background-color: #0078D3;
  color: #FFFFFF;
}
.intgr-popup__button--active:hover,
.intgr-popup__button--active:focus {
  background-color: #25477B;
  color: #FFFFFF;
}
.intgr-popup__button--active:active {
  background-color: #002D4F;
  color: #FFFFFF;
}
.intgr-tag {
  display: flex;
  font-family: Roboto;
  align-items: center;
  border-radius: 18px;
  background-color: #EFF2F7;
  padding: 4px 8px;
  border: 1px solid #EFF2F7;
  width: fit-content;
}
.intgr-tag--beta {
  font-family: Roboto;
  align-items: center;
  width: fit-content;
  border-radius: 6px;
  background-color: #FFEB94;
  padding: 4px 6px;
  border: 1px solid #FFEB94;
  position: relative;
  display: inline-block;
}
.intgr-tag--beta .intgr-tag__text {
  font-weight: 600;
  letter-spacing: 2px;
  margin-right: 0px;
  text-transform: uppercase;
  font-size: 10px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.intgr-tag--beta:hover {
  cursor: help;
}
.intgr-tag--beta:hover .intgr-tooltip__help-container--beta {
  visibility: visible;
}
.intgr-tag__text {
  display: block;
  color: #202328;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.intgr-tag__remove-icon {
  width: 16px;
  min-width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: inherit;
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 0px;
}
.intgr-datepicker {
  width: 308px;
  height: auto;
  font-size: 12px;
  border-width: 0;
  border-radius: 4px;
  background: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(11, 32, 50, 0.2);
}
.intgr-datepicker__date {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  height: 56px;
  margin: 0;
  padding: 5px;
  background: inherit;
  border-bottom: 1px solid #C7CBD2;
}
.intgr-datepicker__date select {
  position: relative;
  overflow: hidden;
  background: inherit;
  color: #202328;
  border: 1px solid #66788C;
  border-radius: 4px;
  flex-grow: 1;
  height: 32px;
  padding: 0 9px;
  font-size: 12px;
  cursor: pointer;
}
.intgr-datepicker__date select:first-of-type {
  width: 112px;
}
.intgr-datepicker__date select:last-of-type {
  width: 75px;
  text-align: center;
  margin-left: 8px;
}
.intgr-datepicker__date button {
  position: relative;
  border: 1px solid #0078D3;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  background: #0078D3;
  text-align: center;
  line-height: 0;
  margin: 0 7px;
  cursor: pointer;
}
.intgr-datepicker__date button:focus {
  background-color: #25477B;
  border-color: transparent;
}
.intgr-datepicker__date button svg {
  width: 8px;
  height: 8px;
}
.intgr-datepicker__date button:first-of-type svg {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.732 3.52v24.324q0 .681-.486 1.216-.486.536-1.265.536-.778 0-1.216-.536L7.603 16.9q-.486-.536-.486-1.217 0-.68.486-1.216L19.765 2.304q.535-.535 1.216-.535.681 0 1.265.535.584.535.486 1.217z' fill='%23FFFFFF'/%3E%3C/svg%3E");
}
.intgr-datepicker__date button:last-of-type svg {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.898 15.809q0 .698-.5 1.247L12.925 29.532q-.55.548-1.248.548-.699 0-1.247-.548-.55-.55-.55-1.248V3.334q0-.749.55-1.248.548-.499 1.247-.549.699-.05 1.248.549L25.4 14.561q.499.5.499 1.248z' fill='%23FFFFFF'/%3E%3C/svg%3E");
}
.intgr-datepicker__calendar {
  margin: 2px;
  background: inherit;
}
.intgr-datepicker__calendar table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 4px;
  text-align: center;
}
.intgr-datepicker__calendar table tbody tr {
  height: 28px;
}
.intgr-datepicker__calendar table tbody tr:first-child {
  height: 16px;
}
.intgr-datepicker__calendar table tbody tr:first-child div {
  position: relative;
  width: 29px;
  font-weight: bold;
  color: #25477B;
  text-transform: uppercase;
  cursor: default;
}
.intgr-datepicker__calendar table tbody tr td {
  width: auto;
  padding: 0 3px;
}
.intgr-datepicker__calendar table tbody tr td div {
  font-size: 12px;
}
.intgr-datepicker__day {
  width: 32px;
  height: 24px;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #0078D3;
  color: #202328;
  padding: 3px;
  outline: none;
  border-radius: 4px;
}
.intgr-datepicker__day:hover {
  border-color: #202328;
}
.intgr-datepicker__day--today {
  border-color: #28600D;
}
.intgr-datepicker__day--selected {
  background: #0078D3;
  border-color: #0078D3;
  color: #FFFFFF;
}
.intgr-datepicker__day--selected:hover {
  border-color: #2C7AB1;
}
.intgr-datepicker__day--outside {
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  color: #757575;
}
.intgr-datepicker__day--outside:hover {
  border-color: #0078D3;
  color: #202328;
}
.intgr-datepicker__time {
  border-width: 1px 0 1px 0;
  border-color: #C7CBD2;
  border-style: solid;
  padding: 3px;
}
.intgr-datepicker__time table tbody tr {
  float: left;
}
.intgr-datepicker__time table tbody tr td:first-of-type {
  padding-right: 5px;
  color: #575757;
}
.intgr-datepicker__time table tbody tr td:nth-of-type(even) {
  width: 46px;
}
.intgr-datepicker__time table tbody tr td:nth-of-type(3) {
  width: 10px;
  text-align: center;
}
.intgr-datepicker__time table tbody tr select {
  display: inline-block;
  height: 32px;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #C7CBD2;
  color: #202328;
  font-size: 12px;
  padding: 0 2px;
  cursor: pointer;
}
.intgr-datepicker__button-panel {
  overflow: auto;
  padding: 5px;
}
.intgr-datepicker__button-panel button {
  margin: 6px;
}
.intgr-datepicker__button-panel button:first-of-type {
  float: left;
}
.intgr-datepicker__button-panel button:last-of-type {
  float: right;
}
[class^="intgr-"] * {
  box-sizing: border-box;
  font-family: 'Roboto';
}
[class^="intgr-"] a {
  text-decoration: none;
  color: #0062A9;
}
[class^="intgr-"] a:hover {
  text-decoration: underline;
  cursor: pointer;
}
[class^="intgr-"] a:active,
[class^="intgr-"] a:focus {
  text-decoration: underline;
  color: #002D4F;
}
